body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.falling-element {
    position: absolute;
    width: 100px;
    height: 100px;
    animation-name: fall;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    object-fit: contain;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(calc(100vh - 50px));
    }
}